.stores {
  border-color: purple;
  border-width: 5px;
}
circle {
  stroke: purple;
  stroke-width: 2px;
  fill: blue;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}
